body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 12px !important;
}

#calendar {
    max-width: 900px;
    margin: 0 auto;
}

.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
.modal-footer {
    background-color: #f9f9f9;
}

.fc-city {
    font-size: 45% !important;
}

#blurDivId  {
    position: absolute;
    height: 140%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9050;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .2s ease,visibility 0s;
    transition: opacity .2s ease,visibility 0s;
    transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s,.3s;
    transition-delay: 0s,.3s;
}

.gotorec {
    margin-bottom: 3%;
    width:25%;    
}

.modal-header, h4, .close {
    background-color: #5bc0de;
    color: white !important;
    text-align: center;
    font-size: 30px;
}


.main-content-section section:first-child, .main-content-section section#requirement{
    padding: 0px;
}
.main-content-section{
    padding-left: 0px;
    padding-top: 54px;
    padding-bottom: 20px;
    padding-right: 10px;
    height: auto;
}
section.main-content-section section:first-child {
    display: block;
}
.cardStats {
    display: flex;
    margin-bottom: 25px;
}
.cardStats .well{
    flex: 1;
    padding: 30px;
    margin-bottom: 0px;
    margin-right: 30px;
}
.cardStats .well:last-child{
    margin-right: 0;
}
.cardStats h4{
    margin-bottom: 0px;    
}
.cardStats h6{
    color: #292929;
}
.cardStats .stat1:hover{
    background-color: #1cc327;
}
.cardStats .stat2:hover{
    background-color: #1d8fd7;
}
.cardStats .stat3:hover{
    background-color: #bb4fd2;
}
.cardStats .stat4:hover{
    background-color: #109fb4;
}
.cardStats .stat5:hover{
    background-color: #f08232;
}
.cardStats .well:hover h4,.cardStats .well:hover h6{
    color: #fff;
    font-weight: 600;
}
.cardStats .col-xs-2, .cardStats .col-xs-8{
    padding: 0;
}
.cardStats .well .col-xs-2{
    margin-right: 26px;
}
.cardStats .well img{
    width: 50px;
    height: auto;
    vertical-align: top;
}