body {
    background: #eff3f8 !important;
}
.modal { overflow: auto !important; }

.statusSpan{
    padding: 4px 15px 5px 15px;
    background: #08bfd6;
    color: #fff;
    font-size: 11px;
    border-radius: 60px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0px;
}
.topContainer{
    margin-top:1em;
}
.statusLabel{
    margin-bottom:0;
    margin-right: 15px;
    font-size: 13px;
    color: #000;
}
.fieldLabel{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #000;
}

.asmMessageClass {
    /text-align: right;
}

.wrapper {
    padding-right: 0;
}
.topRightContainer{
    text-align:right;
    padding-top: 20px;
}
.main-content-section {
    padding-right: 0;
    padding-top: 0;
}
.cardStats .well {
    padding: 12px;
    padding-bottom: 3px;
}
.fc-day-grid-event .fc-content {
    padding-left: 5px;
    font-size: 12px;
}
.topRightContainer button i{
    margin-right:3px;
}
.cardStats h4 {
    display: inline;
}
.cardStats .well .badge {
    font-size: 13px;
    font-weight: 400;
    padding: 4px;
    margin-left: 4px;
}
.cardStats h6 {
    margin-top: 2px;
}
.modal-header {
    background-color: #182382;
    color: #fff;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    color: #fff;
    opacity: 1;
    font-size: 28px;
}
.fieldInfo{
    font-size: 12px;
    font-style: italic;
    margin-left: 7px;
    color: #656565;
}
.form-group span{
    font-size: 12px;
    font-style: italic;
    margin-left: 7px;
    color: #656565;
}
#userSpanId{
    font-size: 15px;
    color: #000;
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}
.modal-title span{
    font-size: 15px;
    font-style: italic;
    margin-left: 15px;
}
.delBtn{
    margin-left: 25px!important;
}
.btn btn-danger{
    margin-left: 25px!important;
}
.taskRels{
    padding: 8px 10px;
    /* border: 1px dotted #bbb; */
    border-radius: 5px;
    font-size: 14px;
    padding-left: 12px;
    color: #565656;
    margin-bottom: 8px;
    background: #f6f6f6;
    font-weight: 500;
}
#calendar .fc-event-container .fc-event{
    cursor:pointer;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus {
    z-index: 1;
}
#blurDivId  {
    position: absolute;
    height: 200%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9050;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity .2s ease,visibility 0s;
    transition: opacity .2s ease,visibility 0s;
        transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s,.3s;
    transition-delay: 0s,.3s;
}
#copyPreviousTasksId {
    margin-top: 3%;
    margin-right: 26%;
}
.ui-timepicker-container {
      z-index: 3500 !important;
}

.form-control2 {
    margin-left: 2%;
    width: 50%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.daysHolderClass {
    margin-top: 3%;
}

.monthRedClass {
    margin-top: 3%;
    margin-bottom: 3%;
}

.unavailable {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: lightgrey;
}

.requiredCss {
    color: red !important;
    //display:
}

.floatCss {
    float: left;
}

.holidayText {
    font-size: 80%;
}

#commentId {
    resize: none;
}