/*********** FONTS  **************/

@font-face {
	font-family: 'Conv_AVENIRLTSTD-BLACK';
	src: url('../fonts/AVENIRLTSTD-BLACK.eot');
	src: local('?'), url('../fonts/AVENIRLTSTD-BLACK.woff') format('woff'), url('../fonts/AVENIRLTSTD-BLACK.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-BLACK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AVENIRLTSTD-BLACKOBLIQUE';
	src: url('../fonts/AVENIRLTSTD-BLACKOBLIQUE.eot');
	src: local('?'), url('../fonts/AVENIRLTSTD-BLACKOBLIQUE.woff') format('woff'), url('../fonts/AVENIRLTSTD-BLACKOBLIQUE.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-BLACKOBLIQUE.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AVENIRLTSTD-BOOK';
	src: url('../fonts/AVENIRLTSTD-BOOK.eot');
	src: local('?'), url('../fonts/AVENIRLTSTD-BOOK.woff') format('woff'), url('../fonts/AVENIRLTSTD-BOOK.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-BOOK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AVENIRLTSTD-BOOKOBLIQUE';
	src: url('../fonts/AVENIRLTSTD-BOOKOBLIQUE.eot');
	src: local('?'), url('../fonts/AVENIRLTSTD-BOOKOBLIQUE.woff') format('woff'), url('../fonts/AVENIRLTSTD-BOOKOBLIQUE.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-BOOKOBLIQUE.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AVENIRLTSTD-HEAVY';
	src: url('../fonts/AVENIRLTSTD-HEAVY.eot');
	src: local('?'), url('../fonts/AVENIRLTSTD-HEAVY.woff') format('woff'), url('../fonts/AVENIRLTSTD-HEAVY.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-HEAVY.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AVENIRLTSTD-HEAVYOBLIQUE';
	src: url('../fonts/AVENIRLTSTD-HEAVYOBLIQUE.eot');
	src: local('?'), url('../fonts/AVENIRLTSTD-HEAVYOBLIQUE.woff') format('woff'), url('../fonts/AVENIRLTSTD-HEAVYOBLIQUE.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-HEAVYOBLIQUE.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AVENIRLTSTD-LIGHT';
	src: url('../fonts/AVENIRLTSTD-LIGHT.eot');
	src: local('?'), url('../fonts/AVENIRLTSTD-LIGHT.woff') format('woff'), url('../fonts/AVENIRLTSTD-LIGHT.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-LIGHT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_AVENIRLTSTD-LIGHTOBLIQUE';
	src: url('../fonts/AVENIRLTSTD-LIGHTOBLIQUE.eot');
	src: local('?'), url('../fonts/AVENIRLTSTD-LIGHTOBLIQUE.woff') format('woff'), url('../fonts/AVENIRLTSTD-LIGHTOBLIQUE.ttf') format('truetype'), url('../fonts/AVENIRLTSTD-LIGHTOBLIQUE.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*****************************************************************/
body{
	overflow-x:hidden!important;
	background:#F4F7F7;
}
.topLogoSection{
	border-bottom: 1px dotted#ddd;
}
.mainContentSection{
	background:#fff;
	border-radius:3px;
	margin-top:15px;
	margin-bottom:15px;
	box-shadow: 0px 2px 15px rgba(115, 115, 115, 0.15);
}
.logo1{
	width: 150px;
	margin: 0 auto;
}
.logo2{
	display: inline-block;
    width: 40px;
	
}
.logo21{
	width: 350px;
    display: inline-block;
}
.logo3{
	width: 150px;
	margin: 0 auto;
}
.logoBox1{
	border-right: 1px dotted #ddd;
	min-height:92px;
}
.logoBox2{
	text-align:center;
	padding-top: 30px;
	border-right: 1px dotted #ddd;
	min-height:92px;
}
.logoBox3{
	padding-top: 16px;
	min-height:92px;
}
.formHeading{
	text-align: left;
    margin-top: 25px;
    font-size: 24px;
    font-family: Titillium Web;
    color: #2b2b2b;
    font-weight: 600;
    margin-bottom: -10px;
}
.btn{
	font-family: Titillium Web;
	font-weight:600;
	text-transform: uppercase;
	font-size: 13px;
	padding: 8px 20px;
}
.formLabel{
	/*text-transform: uppercase;
    font-size: 12px;
    color: #757575;
    font-family: Titillium Web;
    font-weight: 500;
    letter-spacing: 0px;*/
	
	text-transform: uppercase;
    font-size: 13px;
    color: #717171;
    font-family: Titillium Web;
    font-weight: 600;
    letter-spacing: 0px;
}
.topHR{
	margin-top: 20px;
    margin-bottom: 15px;
    border: 0;
    border-top: 4px solid #2196F3;
    width: 50px;
    margin-left: 0!important;
    border-radius: 15px;
}
.formText{
	box-shadow: none!important;
    border-radius: 3px!important;
    border-color: #ddd;
	border: none;
	font-family: Roboto;
	font-size:13px;
	background: #f4f4f4;
	color:#000;
}
.formTextArea{
	box-shadow: none!important;
    border-radius: 3px!important;
    border-color: #ddd;
	border: none;
	resize:none;
	font-family: Roboto;
	font-size:13px;
	background: #f4f4f4;
	color:#000;
}
.ms-choice {
	box-shadow: none!important;
    border-radius: 3px!important;
    border: none!important;
	height:34px!important;
	outline:none!important;
	background-color: #f4f4f4!important;
}
.ms-choice > div {
    top: 4px!important;
}
.ms-drop {
	border-color:#f5f5f5!important;
}
.ms-drop input[type="checkbox"] {
    vertical-align: middle!important;
    margin-top: -1px!important;
    margin-right: 6px!important;
}
.ms-drop ul > li label {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 12px;
    color: #2f2f2f;
}
.ms-choice > span {
    position: absolute;
    top: 4px!important;
    font-family: Roboto!important;
    font-size: 12px!important;
}
.mainFormBox{
	padding:15px;
}
.headingBox{
	padding:0 0 0 15px;
}
.formSubmitBox{
	padding: 15px;
    background: #fff;
    border-top: 1px dotted #bbb;
}
.addQueBox{
	margin-top: 20px;
}
.addQueBox h5{
	font-family: Titillium Web;
    font-size: 17px!important;
    color: #000;
    font-weight: 600;
	margin-top: 0;
	margin-bottom: 18px;
}
.input-group.date .input-group-addon {
    cursor: pointer;
    border: none;
    background: #337ab7;
}
.addItemBox {
    margin-top: 20px;
	padding: 15px;
}
.addItemBox h5 {
    font-family: Titillium Web;
    font-size: 17px!important;
    color: #000;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
.itemTable{
	margin-bottom:0!important;
}
.itemTable tr th{
	font-size: 11px;
    text-transform: uppercase;
    font-family: Poppins;
    font-weight: 600;
    color: #000;
    background: #f4f7f7;
    vertical-align: middle!important;
    border-bottom: 1px solid #ddd!important;
}
.itemTable tr td{
	font-size: 13px;
    font-family: Roboto;
    color: #232323;
    vertical-align: middle!important;
}
.itemTable{
	margin-bottom:0!important;
}
.itemTable tr th:first-child{
	width:10%;
}
.itemTable tr th:nth-child(2){
	width:15%;
}
.itemTable tr th:nth-child(3){
	width:15%;
}
.itemTable tr th:nth-child(4){
	width:35%;
}
.itemTable tr th:nth-child(5){
	width:10%;
}
.itemTable tr th:nth-child(6){
	width:15%;
}
.addItemBtn{
	margin-top:20px;
	font-size:12px;
}
.addItemBtn i{
	vertical-align:middle;
	margin-right:3px;
}
.modal-title{
	font-weight: 600;
    color: #000;
	font-family: Titillium Web;
}
.modal-header .close {
    margin-top: -7px;
    opacity: 0.5;
	font-size: 35px;
}
.tradeCheckDetailsContainer {
    margin-top: 20px;
}
.tradeCheckDetailsContainer h5{
	font-family: Titillium Web;
    font-size: 17px!important;
    color: #000;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
.tradeCheckDetailBox{
	padding: 15px;
    border: 1px dotted #bbb;
    border-radius: 5px;
    margin-top: 0px;
    padding-bottom: 2px;
}
.tradeCheckDetailBox h6{
	font-family: Titillium Web;
    font-size: 15px!important;
    color: #000;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}
.tradeHR{
	margin-top: 0px;
    margin-bottom: 22px;
    border: 0;
    border-top: 4px solid #2196F3;
    width: 38px;
    margin-left: 0!important;
    border-radius: 15px;
}
.topMargin15{
	margin-top:15px;
}
.standardContainer{
	margin-top:35px;
}


/* Ankita */
.bg-drak-gray{
	background: #6b858e;
	color: white;
}
.table>thead>tr>th{
	vertical-align: middle;
	text-align: center;
}
.table-info {
    background-color: #0672dc;
    color: white;
    text-align: center;
}
/* Ankita */
/*Tanay's CSS Strat*/
.no-border{border:0;}
.container-style
{
    background: #fbfbfb;
    padding: 25px;
    margin-bottom: 20px;  
}
.container-style input{background-color: #ececec;}
/*Tanay's CSS End*/