<apex:page StandardController="Inventory__c" showHeader="true" sidebar="false" extensions="InventoryBalancePageCX" id="MainPage">
    <style type="text/css">
        .inputTextSClassXS { width: 20px; }
        .inputTextSClassS { width: 40px; }
        .uomClass { width: 70px; }
        .inputTextSClassM { width: 70px; }
        .inputTextSClassL { width: 120px; }
    </style>

    <script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 46 && charCode != 59) {
        //(charCode >= 48 && charCode <= 57) || e.KeyChar == 46
            return false;
        }
        return true;
    }
    function CompareOldValue (tagId, hiddeFieldId){
        var pos = tagId.lastIndexOf(":");
        var parentTagId = tagId.substring(0, pos);
        var parentPos = tagId.lastIndexOf(":");
        
        parentTagId = parentTagId.substring(0, parentPos);
        var newValue;
        var oldValue = document.getElementById(parentTagId+':'+hiddeFieldId).value;
        
        if(document.getElementById(tagId).type == "checkbox"){
            newValue = document.getElementById(tagId).checked;
        }else{
            newValue = document.getElementById(tagId).value;
        }
        
        
        
        if(newValue != oldValue){
            document.getElementById(parentTagId+':fieldUpdated').checked = true; 
        }
        

    }

    function DeleteRow (tagId){
        var pos = tagId.lastIndexOf(":");
        var parentTagId = tagId.substring(0, pos);
        var parentPos = tagId.lastIndexOf(":");
        parentTagId = parentTagId.substring(0, parentPos);

        document.getElementById(parentTagId+':depletedLine').checked = true; 
    }

    function DisableInput( tagId, idToDisable ){

        var pos = tagId.lastIndexOf(":");
        var parentTagId = tagId.substring(0, pos);
        var parentPos = tagId.lastIndexOf(":");
        
        parentTagId = parentTagId.substring(0, parentPos);
        
       // alert(document.getElementById(tagId).checked);
        if(document.getElementById(tagId).checked){
            document.getElementById(parentTagId+':'+idToDisable).disabled = false;
        }else{
            //alert('disable');
            document.getElementById(parentTagId+':'+idToDisable).value ='';
            document.getElementById(parentTagId+':'+idToDisable).disabled = true;
        }
    }
    function initialize(){
        document.getElementById('MainPage:MainForm:MainPageblock:InventoryDetailsSetion:lastUpdateDate').disabled = true;
        var inputElements = document.getElementsByTagName('input');
        for(var i =0;i<inputElements.length; i++){
            if(inputElements[i].id.includes("validateQtyCB")){
                DisableInput(inputElements[i].id, 'ValidatedQty');
            }else if(inputElements[i].id.includes("validatedIncomingQtyCB")){                                        
                DisableInput(inputElements[i].id, 'validatedIncomingQty');
            }
        }
    }
    
    </script>
    <apex:form id="MainForm">
        
        <apex:actionFunction action="{!initializePage}" name="initializeTable" reRender="MainForm" status="loadStatus"/>
        <apex:sectionHeader subtitle="New Inventory" title="Inventory Edit"/>
        <apex:pageblock mode="edit" id="MainPageblock" title="Inventory Form">
            <apex:pageMessages />
            <apex:pageblockButtons >
                <apex:commandButton action="{!saveInventories}" value=" Save " rerender="MainForm" status="loadStatus">
                    <apex:param name="saveProcess" value="{!saveOnlyTxt}"/>
                </apex:commandButton>
                <apex:commandButton action="{!saveInventories}" value=" Save & New" rerender="MainForm" status="loadStatus">
                    <apex:param name="saveProcess" value="{!saveAndNewTxt}"/>
                </apex:commandButton>
                <apex:commandButton action="{!Cancel}" value=" Cancel "/>
            </apex:pageblockButtons>

            <apex:pageBlockSection title="Inventory Details" id="InventoryDetailsSetion">
                <apex:inputField value="{!Inventory__c.Account__c}" onchange="initializeTable();initialize();"/>
                <apex:outputPanel ></apex:outputPanel>
                <apex:inputField value="{!Inventory__c.Warehouse1__c}" onchange="initializeTable();initialize();"/>
                <apex:inputField id="lastUpdateDate" value="{!Inventory__c.Last_Update__c}"  />
            </apex:pageBlockSection>

            <apex:pageBlockSection title="Product Search" id="SearchProductSection" columns="1">
                <apex:outputPanel >
                    SKU :&nbsp;<apex:inputText value="{!filterBySKU}" />&nbsp;
                    Name :&nbsp;<apex:inputText value="{!filterByName}" />&nbsp;
                    SO No. :&nbsp;<apex:inputText value="{!filterBYSONumber}" />&nbsp;
                    Business Unit :&nbsp;
                        <apex:selectList id="BUoptions" value="{!filterByBU}" size="1" >
                            <apex:selectOptions value="{!buOptions}" />
                        </apex:selectList>
                        &nbsp;<br/><br/>
                    Brand :&nbsp;<apex:inputText value="{!filterByBrand}" />&nbsp;
                    Category :&nbsp;<apex:inputText value="{!filterByCategory}" />&nbsp;
                    
                    <apex:commandButton action="{!searchProduct}" value=" Search " rerender="MainForm" status="loadStatus"/>
                </apex:outputPanel>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection title="List of Products" id="SearchSection">
                <apex:outputPanel >
                    <apex:commandButton value="Previous" title="Previous Page" action="{!previousInventoryList}" rerender="MainForm" status="loadStatus" disabled="{!NOT(hasPrevious)}"/>
                    <apex:commandButton value="Next" title="Next Page" action="{!nextInventoryList}" rerender="MainForm" status="loadStatus" disabled="{!NOT(hasNext)}"/>
                </apex:outputPanel>
            </apex:pageBlockSection>
            
            <apex:pageBlockSection Id="ProductTableSection" columns="1" id="ResultsTable">
                <apex:outputPanel id="out2" layout="block" >
                    
                    <table width="100%" >
                        <!--
                        <tr> 
                            <th>Product Name</th>
                            <th>SKU Code</th>
                            <th>Brand</th>
                            <th>Cateory</th>    
                        </tr>
                        -->
                        <apex:repeat value="{!inventoryItemLineMapToDisplay}" var="invILMKey" id="RepeatTag1" >
                            <tr>
                                <td><strong>Product Name :&nbsp;</strong> {!inventoryItemLineMapToDisplay[invILMKey].productName}</td>
                                <td><strong>SKU Code :&nbsp;</strong>{!inventoryItemLineMapToDisplay[invILMKey].produtSKU}</td> 
                                <td><strong>Brand :&nbsp;</strong>{!inventoryItemLineMapToDisplay[invILMKey].productBrand}</td>
                                <td><strong>Category :&nbsp;</strong>{!inventoryItemLineMapToDisplay[invILMKey].productCategory}</td>  
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <apex:commandButton value="Add Row(s)" action="{!AddLineRows}" rerender="ResultsTable" status="loadStatus" oncomplete="initialize();">
                                        <apex:param name="xProductId" value="{!inventoryItemLineMapToDisplay[invILMKey].productId}"/>
                                    </apex:commandButton>
                                    <apex:inputText value="{!inventoryItemLineMapToDisplay[invILMKey].rowsToAdd}" styleClass="inputTextSClassXS"/>
                                    
                                </td>
                            </tr>
                            <tr> 
                                <td colspan="4">
                                    <apex:outputPanel rendered="{!inventoryItemLineMapToDisplay[invILMKey].inventoryLines.size>0}">
                                    <apex:pageBlockTable value="{!inventoryItemLineMapToDisplay[invILMKey].inventoryLines}" var="invL" id="subtable">
                                            <apex:column >
                                                <apex:facet name="header"></apex:facet>
                                                        <div style="display:none;">
                                                        <apex:inputField value="{!invL.updated__c}" id="fieldUpdated"/>
                                                        
                                                            
                                                            <apex:outputField value="{!invL.Validate_Quantity__c}" id="old_validateQty_CB"/>
                                                            <apex:outputField value="{!invL.Validated_Quantity__c}" id="old_validatedQty"/>
                                                            <apex:outputField value="{!invL.Validate_Incoming_Quantity__c}" id="old_validateIncQty_CB"/>
                                                            <apex:outputField value="{!invL.Validated_Incoming_Quantity__c}" id="old_validatedIncQty"/>
                                                            <apex:outputField value="{!invL.depleted__c}" id="old_depleted"/>
                                                        </div>
                                                        <apex:commandButton action="{!removeLine}" image="http://free-121d5f44d20-121d603d1c5-121ee2b8103.force.com/img/func_icons/remove12.gif" status="loadStatus"  id="delRowButton" reRender="MainForm" onclick="DeleteRow(this.id);" rendered="{!invL.id==null}"  > 
                                                            <apex:param name="xProductId" value="{!inventoryItemLineMapToDisplay[invILMKey].productId}"/>
                                                        </apex:commandButton>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.So_No__c.label}</apex:facet>
                                                        <apex:inputField value="{!invL.So_No__c}" styleClass="inputTextSClassL" id="SO_Num" rendered="{!invL.id==null}"/>
                                                        <apex:outputField value="{!invL.So_No__c}"  id="SO_Num_out" rendered="{!invL.id!=null}"/>
                                            </apex:column><apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.SI_No__c.label}</apex:facet>
                                                        <apex:inputField value="{!invL.SI_No__c}" styleClass="inputTextSClassL" id="SI_Num" rendered="{!invL.id==null}"/>
                                                        <apex:outputField value="{!invL.SI_No__c}"  id="SI_Num_out" rendered="{!invL.id!=null}"/>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.Batch_Code__c.label}</apex:facet>
                                                        <apex:inputField value="{!invL.Batch_Code__c}" styleClass="inputTextSClassL" id="BathCode" rendered="{!invL.id==null}"/>
                                                        <apex:outputField value="{!invL.Batch_Code__c}"  id="BathCode_out" rendered="{!invL.id!=null}"/>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">Weight</apex:facet>
                                                        <apex:inputField value="{!invL.Weight_Quantity__c}" styleClass="inputTextSClassL" id="weightQty" rendered="{!invL.id==null}"/>
                                                        <!--<apex:inputField value="{!invL.Weight_UOM__c}" styleClass="inputTextSClassL" id="weightUom" rendered="{!invL.id==null}"/>-->
                                                        <apex:selectList id="weightUom" value="{!invL.Weight_UOM__c}" size="1" rendered="{!invL.id==null}">
                                                            <apex:selectOptions value="{!inventoryItemLineMapToDisplay[invILMKey].weightUomOptions}" />
                                                        </apex:selectList>
                                                        
                                                        <apex:outputField value="{!invL.Weight_Quantity__c}"  id="weightQty_out" rendered="{!invL.id!=null}"/> &nbsp;&nbsp;
                                                        <apex:outputField value="{!invL.Weight_UOM__r.UOM__r.name}"  id="weightUom_out" rendered="{!invL.id!=null}"/>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header"></apex:facet>
                                                        <apex:selectList id="UOMSelect" value="{!invL.UOM__c}" size="1" rendered="{!invL.id==null}">
                                                            <apex:selectOptions value="{!inventoryItemLineMapToDisplay[invILMKey].uomOptions}" />
                                                        </apex:selectList>
                                                        <apex:outputField id="UOMDisplay" value="{!invL.UOM__r.UOM__r.name}" rendered="{!invL.id!=null}"/>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.Ending_Balance__c.label}</apex:facet>
                                                        <apex:outputField value="{!invL.Ending_Balance__c}" styleClass="inputTextSClassS" id="endBal"/>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.Validated_Quantity__c.label}</apex:facet>
                                                <apex:inputField value="{!invL.Validate_Quantity__c}" id="validateQtyCB" onchange="DisableInput(this.id, 'ValidatedQty');CompareOldValue(this.id,'old_validateQty_CB')" style="{!IF(profileName=='Distributor User','pointer-events:none','')}"/> 
                                                <apex:inputField value="{!invL.Validated_Quantity__c}" styleClass="inputTextSClassS" id="ValidatedQty" onchange="CompareOldValue(this.id,'old_validatedQty')" onkeypress="return isNumber(event)" rendered="{!IF(profileName =='Distributor User',false,true)}"/>
                                                <apex:outputField value="{!invL.Validated_Quantity__c}" styleClass="inputTextSClassS" id="ValidatedQtyOtFielld"  rendered="{!IF(profileName =='Distributor User',true,false)}"/>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.Age1__c.label}</apex:facet>
                                                        <apex:inputField value="{!invL.age1__c}" styleClass="inputTextSClassS" id="Age"/>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.Incoming_Quantity__c.label}</apex:facet>
                                                        <apex:outputField value="{!invL.Incoming_Quantity__c}" styleClass="inputTextSClassS" id="IncomingQty"/>
                                            </apex:column>
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.Validated_Incoming_Quantity__c.label}</apex:facet>
                                                        <apex:inputField value="{!invL.Validate_Incoming_Quantity__c}" id="validatedIncomingQtyCB" onchange="DisableInput(this.id, 'validatedIncomingQty');CompareOldValue(this.id,'old_validateIncQty_CB')"/>
                                                <apex:inputField value="{!invL.Validated_Incoming_Quantity__c}" styleClass="inputTextSClassS" id="validatedIncomingQty" onchange="CompareOldValue(this.id,'old_validatedIncQty')" onkeypress="return isNumber(event)"/>
                                            </apex:column>
                                            
                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.Date_Manufactured__c.label}/Received</apex:facet>
                                                        <apex:inputField value="{!invL.Date_Manufactured__c}"  id="mfcDate" rendered="{!invL.id==null}"/>
                                                <apex:outputField value="{!invL.Date_Manufactured__c}"  id="mfcDate_out" rendered="{!invL.id!=null}"/>
                                            </apex:column>

                                            <apex:column >
                                                <apex:facet name="header">{!$ObjectType.Inventory_Line__c.fields.Depleted__c.label}</apex:facet>
                                                        <apex:inputField value="{!invL.depleted__c}"  id="depletedLine" onchange="CompareOldValue(this.id,'old_depleted')"/>
                                            </apex:column>
                                    </apex:pageBlockTable>
                                    </apex:outputPanel>
                                    
                                </td>
                            </tr>

                            
                            <tr><td colspan="4">&nbsp;</td> </tr>
                            <tr><td colspan="4">&nbsp;</td> </tr>
                        </apex:repeat>
                        
                    
                    
                    </table>
                </apex:outputPanel>
            </apex:pageBlockSection>
            <apex:pageMessages />
        </apex:pageblock>
        <script>
            initialize();
        </script>
    </apex:form>
    <c:LoaderComponent />
</apex:page>